---
layout: page
title: Salesforce 15 to 18 Digit Id Converting Tool
date: '2021-03-25T22:25:00.000-07:00'
categories: [ Tools ]
description: how to convert 15 digit case-sensitive Salesforce Id to 18 digit case-safe Id. Salesforce 15 to 18 Id converter.
author: kishore
tags:
- Tools
- Converter
---

<script>
    function convert15to18() {
        validate();
        let value = document.querySelector('#fifteen').value;
        console.log(value);
        let segments = value.match(/(.{5})(.{5})(.{5})/);
        let base36 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'.split('');
        let output = [];
        let outer, inner, subSegments, buffer;
    
        for(outer = 1; outer <= 3; outer++) {
            subSegments = segments[outer].split('');
            buffer = 0;
            for(inner = 4; inner >= 0; inner--) {
                buffer = (buffer << 1) | (subSegments[inner].match(/[A-Z]/) ? 1 : 0);
            }
            output.push(base36[buffer]);
        }
        document.querySelector('#eighteen').value = value+output.join('');
    }

    function validate() {
        let val = document.querySelector('#fifteen').value;
    
        if (!/^([a-zA-Z0-9]{15})$/g.test(val)) {
            alert('Please enter 15 digit Salesforce Id');
            return;
        }
    }
</script>

<div class="grid-item">
    <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
    {% if site.adsense == "enabled" %}
        {% if page.url != "/" %}
            {% include adsense-generic-code.html %}
        {% endif %}
    {% endif %}
    <!-- End Adsense -->
</div>

<div>
    <!-- Propeller Ads enabled from config.yml -->
        <!-- {% include propeller.html %} -->
    <!-- End Propeller -->
</div>

<form style="margin-top: 10px;">
    <div class="form-group row">

        <div class="col-md-6">
            <h4>15 Digit Id</h4>
            <textarea rows="4" class="form-control mb-3" name="fifteendigitid" placeholder="Enter 15 digit Salesforce Id" id="fifteen"></textarea>
        </div>

        <div class="col-md-6">
            <h4>18 Digit Id</h4>
            <textarea rows="4" class="form-control mb-3" onclick="this.select();" name="eighteendigitid" placeholder="Converted 18 digit Id" id="eighteen"></textarea>
        </div>

    </div>

    <input class="btn btn-success" style="width: 100%;" type="button" value="Convert" onclick="convert15to18()">

</form>

<div style="margin-top: 50px;">
    Steps on how to convert 15 digit case-sensitive Salesforce Id to 18 digit case-safe Id
    <ul>
        <li>Paste 15 digit Id in left box (15 Digit Id box)</li>
        <li>Click on convert button</li>
        <li>Converted Id appears in right box</li>
    </ul>
</div>

<br>
<img src="/assets/images/converter/processing.png" height="400" alt="Contact us" />
