<div class="share sticky-top sticky-top-offset">
    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://telegram.me/share/url?url={{ page.url | absolute_url }}"
                onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-telegram-plane"></i>
            </a>
        </li>

    </ul>
    {% if page.comments != false %}
    <div class="sep">
    </div>
    <ul>
        <li>
        <a class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
    {% endif %}

    <ul>
        <li class="ml-1 mr-1">
            <a href="{{ site.baseurl }}/categories#Lightning Web Components">Lwc</a>
        </li>
        <li class="ml-1 mr-1">
            <a href="{{ site.baseurl }}/categories#Lightning">Aura</a>
        </li>
        <li class="ml-1 mr-1">
            <a href="{{ site.baseurl }}/categories#Apex">Apex</a>
        </li>
    </ul>

    <ul>
        <li class="ml-1 mr-1">
            {% if site.adsense == "enabled" %}
            {% include Adsense_sidebar.html %}
            {% endif %}
        </li>
        <li>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_follow_toolbox"></div>
        </li>
    </ul>
</div>

