---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<div class="row listrecent">
{% for category in site.categories %}
<div class="section-title col-md-12 mt-4">
<h2 id="{{ category[0] | replace: " ","-" }}">Category <span class="text-capitalize">{{ category[0] }}</span></h2>
</div>

<!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
{% if site.adsense == "enabled" %}
	{% include adsense_In_Article.html %}
{% endif %}
<!-- End Adsense -->

{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}

<!-- Custom Adsense Ads added by kishore-->
{% if site.adsense == "enabled" %}
	{% include adsense-in-categories-bottom.html %}
{% endif %}
<!-- End Adsense -->

</div>