---
layout: default
---

<style>
    /* Added by Kishore */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>

<section>
    <div class="section-title grid-container">
        <h2 class="grid-item"><span>{{ page.title }}</span></h2>
        <div class="grid-item">
            <img src="{{ site.url}}/assets/images/site-logo.png" alt="Recreation">
        </div>
    </div>

    <div class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>